* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Georgia', serif;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Nag贸wek */
header {
    background-color: #ff5722;
    color: white;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin: 0;
    font-size: 6rem;
}

/* G贸wna zawarto */
main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;   /* wyr贸wnanie element贸w */
}

/* Sekcje */
section {
    border: 2px solid #ff5722;
    outline: 2px solid #ff5722;
    outline-offset: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2e2e2e;
    box-shadow: 0px 2px 8px rgba(255, 87, 34, 0.5);
    flex: 1 1 300px;
    min-width: 250px;
}

/* To w 3 sekcji */
section:nth-of-type(3) {
    background: url('Bezunia.jpg') center/cover no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;     /* wysoko dla koa */
    position: relative;
}


h3 {
    color: #ff5722;
    margin-top: 0;
}

p {
    line-height: 1.8;
    margin: 0;
    color: #e0e0e0;
}

/* LISTA */
ul {
    list-style-type: decimal;
    color: #ff5722;
    
}

/* OBRAZEK */
img {
    display: block;
    margin: 20px auto;
    border: 5px solid #ff5722;
    border-radius: 50%;
    box-shadow: 0px 6px 15px rgba(255, 87, 34, 0.5);
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* STOPKA */
footer {
    background-color: #ff5722;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    font-size: 1rem;
    margin-top: auto;
}

/*  RESPONSYWNO */
@media (max-width: 768px) {
    h1, h2 {
        font-size: 3rem; /* mniejsze nag贸wki */
    }

    main {
        flex-direction: column;  /* sekcje jedna pod drug */
        padding: 10px;
    }

    section {
        min-width: 100%;
        box-sizing: border-box;
    }

    ul {
        width: 200px;
        height: 200px;
        padding: 20px;
    }

    img {
        width: 150px;
        height: 150px;
    }

    footer {
        text-align: center;
        padding: 10px;
    }
}

/*  Bardzo mae ekrany */
@media (max-width: 480px) {
    h1, h2 {
        font-size: 2rem;
    }

    ul {
        width: 150px;
        height: 150px;
        padding: 15px;
        font-size: 0.9rem;
    }

    img {
        width: 120px;
        height: 120px;
    }
}
